<div style="margin: 0 2em 0 2em; max-width: 200px">
  <div
    [matTooltip]="imageTooltip(card, 'normal')"
    [matTooltipShowDelay]="500"
    matTooltipClass="fitToImage"
    style="padding-top: 10px"
  >
    <img
      [src]="
        card!.card_faces
          ? card!.card_faces[0].image_uris!.small
          : card!.image_uris!.small
      "
      style="border-radius: 6px; position: relative; z-index: 99"
    />
    <img
      *ngFor="let i of cardBacks()"
      src="assets/mtg-cardback.jpg"
      style="
        border-radius: 6px;
        max-height: 204px;
        margin-left: {{ -150 + 15 * i }}px;
        position: absolute;
        z-index: {{ 99 - i }};
      "
    />
  </div>
  <div style="width: 100%; text-align: -webkit-center">
    <button
      mat-icon-button
      color="primary"
      style="margin-right: 10px"
      (click)="decrement()"
      [disabled]="card.amount <= 1"
    >
      <mat-icon
        color="primary"
        [ngStyle]="{ color: card.amount <= 1 ? 'grey' : '' }"
      >
        remove
      </mat-icon>
    </button>
    <span
      style="margin-top: 1em; margin-bottom: 1em"
      [ngStyle]="{
        color:
          (format!.format === Formats.COMMANDER ||
            format!.format === Formats.BRAWL) &&
          card.amount > 1
            ? '#f44336'
            : 'white'
      }"
      >{{ card.amount }}</span
    >
    <button
      mat-icon-button
      color="primary"
      style="margin-left: 10px"
      (click)="increment()"
    >
      <mat-icon color="primary"> add </mat-icon>
    </button>
  </div>
</div>
