<div style="margin: 0 2em 0 2em">
  <div
    [matTooltip]="imageTooltip(card, 'normal')"
    [matTooltipShowDelay]="500"
    matTooltipClass="fitToImage"
    style="padding-top: 10px"
  >
    <div fxLayout="row" *ngIf="card!.card_faces" (click)="flipCard(card.id)">
      <button
        *ngIf="card!.isFoil"
        mat-icon-button
        [matTooltip]="
          card!.isFoil ? 'Marked as foil. Shiny!' : 'Mark as foil. Shiny!'
        "
        style="position: absolute; z-index: 99; margin-left: 250px"
      >
        <mat-icon style="color: #f1ca0f; font-size: 30px">
          {{ card!.isFoil ? "star" : "star_border" }}
        </mat-icon>
      </button>
      <div style="min-width: 146px">
        <div class="flip-card">
          <div class="flip-card-inner" id="{{ card.id }}">
            <div class="flip-card-front">
              <img
                [src]="card!.card_faces[0].image_uris!.small"
                style="border-radius: 6px"
              />
            </div>
            <div class="flip-card-back">
              <img
                [src]="card!.card_faces[1].image_uris!.small"
                :lazy-src="assets/mtg-cardback.jpg"
                style="border-radius: 6px; width: 146px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      *ngIf="!card.card_faces"
      [src]="card!.image_uris!.small"
      style="border-radius: 6px; position: relative; z-index: 99"
    />
    <img
      *ngFor="let i of cardBacks()"
      src="assets/mtg-cardback.jpg"
      style="
        border-radius: 6px;
        max-height: 204px;
        margin-left: {{ -150 + 15 * i }}px;
        position: absolute;
        z-index: {{ 99 - i }};
      "
    />
  </div>
  <div
    style="width: 100%; text-align: -webkit-center"
    [ngStyle]="{ 'margin-top': card!.card_faces ? '210px' : '' }"
  >
    <button
      mat-icon-button
      color="primary"
      style="margin-right: 10px"
      (click)="decrement()"
      [disabled]="card.amount <= 1"
    >
      <mat-icon
        color="primary"
        [ngStyle]="{ color: card.amount <= 1 ? 'grey' : '' }"
      >
        remove
      </mat-icon>
    </button>
    <span
      style="margin-top: 1em; margin-bottom: 1em"
      [ngStyle]="{
        color:
          (format!.format === Formats.COMMANDER ||
            format!.format === Formats.BRAWL) &&
          card.amount > 1
            ? '#f44336'
            : 'white'
      }"
      >{{ card.amount }}</span
    >
    <button
      mat-icon-button
      color="primary"
      style="margin-left: 10px"
      (click)="increment()"
    >
      <mat-icon color="primary"> add </mat-icon>
    </button>
  </div>
</div>
