<h2 style="text-align: center; color: #cc8010">Screensize warning</h2>
<p
  style="color: rgba(255, 255, 255, 0.7); max-width: 350px; text-align: center"
>
  We detect that you are using a device with a screen width of less than 1000
  pixels! That's cool, but we decided that some of our screens contain too much
  data to fit into smaller screen sizes and the app is therefore not optimized
  in those terms. We suggest that you change to another device or please keep in
  mind that displays might be obstructed or not work as expected if you continue
  using our app anyways.
</p>
<div mat-dialog-actions style="padding: 0; justify-content: center">
  <button mat-button color="primary" (click)="close()">Close</button>
</div>
