<div style="margin-left: 5%; padding-bottom: 60px" fxLayout="row wrap">
  <mat-card matRipple class="card" (click)="goto('collection')">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/tmp-308-scroll-rack.jpg')"
    >
      <mat-card-title class="card-title">Card Collection</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Collection of {{ userStore.owner }}</mat-card-subtitle>
      Total of {{ cardsStore.totalCardsCount }} cards across
      {{ cardsStore.setCount }} sets owned, {{ cardsStore.uniqueCardsCount }} of
      them unique.
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card" (click)="goto('decks')">
    <mat-card-header
      class="card-header"
      style="
        background-image: url('../../assets/grn-188-march-of-the-multitudes.jpg');
      "
    >
      <mat-card-title class="card-title">Deck Management</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Your assembled decks</mat-card-subtitle>
      You have {{ decksStore.activeAmount() }} active decks.
      {{ decksStore.playableAmount() }} ready to play,
      {{ decksStore.unplayableAmount() }} need your attention.
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/xln-117-revel-in-riches.jpg')"
    >
      <mat-card-title class="card-title">Finances</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Net worth of your collection</mat-card-subtitle>
      Your cards collection has a total value of
      {{ cardsStore.networthWithCurrency }}.
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card" (click)="goto('wishlist')">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/jmp-483-scroll-of-avacyn.jpg')"
    >
      <mat-card-title class="card-title">Wishlist</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>
        Manage a list of cards you want to buy in future
      </mat-card-subtitle>
      <span *ngIf="!(cardsStore.wishlist.length > 0)"></span
      ><span *ngIf="cardsStore.wishlist.length > 0"
        >Your most wanted is
        <span
          *ngIf="!cardsStore.wishlist[0].card_faces"
          [matTooltip]="imageTooltip(cardsStore.wishlist[0].image_uris)"
          matTooltipClass="fitToImage"
          >{{ cardsStore.wishlist[0].name }}</span
        >
        <span *ngIf="cardsStore.wishlist[0].card_faces">
          <span
            [matTooltip]="
              imageTooltip(cardsStore.wishlist[0].card_faces[0].image_uris)
            "
            matTooltipClass="fitToImage"
            >{{ cardsStore.wishlist[0].card_faces[0].name }}
          </span>
          |
          <span
            [matTooltip]="
              imageTooltip(cardsStore.wishlist[0].card_faces[1].image_uris)
            "
            matTooltipClass="fitToImage"
          >
            {{ cardsStore.wishlist[0].card_faces[1].name }}</span
          >
        </span>
        . It's currently at
        <span *ngIf="cardsStore.networth.currency === Currencies.EUR"
          >{{ cardsStore.wishlist[0].prices.eur }}€</span
        >
        <span *ngIf="cardsStore.networth.currency === Currencies.USD"
          >{{ cardsStore.wishlist[0].prices.usd }}$</span
        ></span
      >
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card" (click)="goto('box-opening')">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/unh-4-cardpecker.jpg')"
    >
      <mat-card-title class="card-title">Box opening</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle
        >Make a game out of opening a booster box</mat-card-subtitle
      >
      Track your new cards and their value. 0 games played.
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/xln-250-treasure-map.jpg')"
    >
      <mat-card-title class="card-title">Roadmap</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Back to landing page</mat-card-subtitle>
      Have a look at whats (hopefully) about to come in the future.
    </mat-card-content>
  </mat-card>
  <mat-card matRipple class="card" (click)="goto('settings')">
    <mat-card-header
      class="card-header"
      style="
        background-image: url('../../assets/war-234-saheeli-sublime-artificer.jpg');
      "
    >
      <mat-card-title class="card-title">Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Set preferences and manage data</mat-card-subtitle>
      Think of backing up your data regularly to not lose any progress.
    </mat-card-content>
  </mat-card>
</div>
