<div class="card-grid" style="padding-left: 20px; padding-top: 20px">
  <mat-card class="card">
    <img mat-card-image src="../../assets/tmp-308-scroll-rack.jpg" />
    <mat-card-content>
      <p>Collection of skil</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img
      mat-card-image
      src="../../assets/grn-188-march-of-the-multitudes.jpg"
    />
    <mat-card-content>
      <p>Collection of skil</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../../assets/xln-117-revel-in-riches.jpg" />
    <mat-card-content>
      <p>Collection of skil</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../../assets/jmp-483-scroll-of-avacyn.jpg" />
    <mat-card-content>
      <p>Collection of skil</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <img mat-card-image src="../../assets/unh-4-cardpecker.jpg" />
    <mat-card-content>
      <p>Collection of skil</p>
    </mat-card-content>
  </mat-card>
</div>
