<div style="margin-left: 5%" fxLayout="row wrap">
  <mat-card class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/tmp-308-scroll-rack.jpg')"
    >
      <mat-card-title class="card-title">Card Collection</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Collection of skil</mat-card-subtitle>
      Total of 0 cards across 0 sets owned.
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header
      class="card-header"
      style="
        background-image: url('../../assets/grn-188-march-of-the-multitudes.jpg');
      "
    >
      <mat-card-title class="card-title">Deck Management</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Your assembled decks</mat-card-subtitle>
      You have 0 decks prepared.
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/xln-117-revel-in-riches.jpg')"
    >
      <mat-card-title class="card-title">Finances</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>Net worth of your collection</mat-card-subtitle>
      Your cards have a total value of 0.00€.
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/jmp-483-scroll-of-avacyn.jpg')"
    >
      <mat-card-title class="card-title">Wishlist</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle>
        Manage a list of cards you want to buy in future
      </mat-card-subtitle>
      Your most wanted:
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header
      class="card-header"
      style="background-image: url('../../assets/unh-4-cardpecker.jpg')"
    >
      <mat-card-title class="card-title">Box opening</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <mat-card-subtitle
        >Make a game out of opening a booster box</mat-card-subtitle
      >
      Track your new cards and their value. 0 games played.
    </mat-card-content>
  </mat-card>
</div>
