<div *ngIf="!hide">
  <div
    style="
      background-size: cover;
      background-image: url('../../assets/cm2-225-trading-post-crop.jpg');
      position: absolute;
      height: 40%;
      width: 100%;
      z-index: 97;
    "
    [ngStyle]="{
      height: show ? '40%' : '0%',
      transition: show ? '' : 'height 1s'
    }"
  ></div>
  <div
    [ngClass]="{ shaker: show && !hover }"
    style="
      position: absolute;
      top: calc(40% - 200px / 2 - {{ scrolled }}px);
      left: calc(50% - 200px / 2);
      z-index: 99;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;
      box-shadow: 0px 6px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    "
    [ngStyle]="{
      top: stick ? 0 : show ? 'calc(40% - 200px / 2)' : 'calc(0% - 200px)',
      transition: show ? '' : 'top 1s, transform 1s',
      transform: hover ? 'scale(1.1)' : ''
    }"
    (click)="leave()"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
    matRipple
  >
    <div style="margin-top: 8px; margin-left: 25px">
      <mtg-set
        set="jud"
        rarity="rare"
        size="12x"
        style="text-shadow: 0 0 4px black"
      ></mtg-set>
    </div>
    <div
      style="display: flex; justify-content: center; margin: -10px 0px 0px 0"
      matTooltip="Keep in mind, that this app is still in an unstable alpha version!"
    >
      <mtg-set
        set="lea"
        rarity="rare"
        size="2x"
        style="text-shadow: 0 0 4px black"
      ></mtg-set>
    </div>
  </div>
  <div
    class="landing-scroll"
    style="
      top: calc( 40% - {{ scrolled }}px);
      height: calc( 100% - 40% + {{ scrolled }}px);
    "
    [ngStyle]="{
      top: show ? '40%' : '100%',
      transition: show ? '' : 'top 1s, height 1s',
      'box-shadow': show ? '0px -6px 20px 20px rgb(0 0 0 / 35%)' : 'none'
    }"
    (scroll)="handleScroll($event)"
  >
    <div
      style="height: 1500px; margin: 0 4em; margin-top: {{
        scrolled
      }}px; transition: none"
    >
      <div
        style="
          font-family: beleren;
          font-size: 45px;
          color: #a58e4a;
          text-shadow: 0px 0px 5px black;
          padding-top: 8rem;
          padding-bottom: 1rem;
          line-height: 3rem;
          margin: 0 1em 0.5em 1em;
        "
        class="container"
      >
        Welcome, to a new collecting experience!
      </div>
      <div class="text-container">
        <span style="margin: 1em; color: #ababab">
          <span class="gold-text">The Idea</span><br />
          <div style="margin: 0.5em">
            <p style="margin: 0">
              Did you ever build a deck and wonder how many of the cards you
              wanna use you already own? <br />
              Have you ever thought something like:
            </p>
            <p style="margin: 10px">
              "Do I have another
              <span
                [matTooltip]="
                  imageTooltip(
                    'https://c1.scryfall.com/file/scryfall-cards/normal/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523'
                  )
                "
                matTooltipClass="fitToImage"
                ><b>Sol Ring</b></span
              >
              for my commander deck idea? Or an
              <span
                [matTooltip]="
                  imageTooltip(
                    'https://c1.scryfall.com/file/scryfall-cards/normal/front/0/1/01b186af-8825-4257-80fd-9c1ecdb21414.jpg?1617647997'
                  )
                "
                matTooltipClass="fitToImage"
                ><b>Arcane Signet</b></span
              >?" <br />
              "Maybe theres a deck I havent played in a long time whose card i
              could use?" <br />
              "Do I have enough
              <span
                [matTooltip]="
                  imageTooltip(
                    'https://c1.scryfall.com/file/scryfall-cards/normal/front/f/f/ffdf9d2a-c163-43df-9a2f-20b8749c86ae.jpg?1618845153'
                  )
                "
                matTooltipClass="fitToImage"
                ><b>Counterspells</b></span
              >?" <br />
              "How much are my cards worth?" <br />
              "What cards am I missing and how do get them the cheapest way?"
            </p>
            <p style="margin: 0">
              Or maybe there was this one bulk card you thought was useless that
              now perfectly fits in your deck. But where did you put it?
            </p>
            <p style="font-size: 22px; margin-bottom: 0; margin-top: 15px">
              Fear not, keeping track of which cards you own and where you put
              them has never been easier than with
              <span
                style="font-family: beleren; color: #a58e4a"
                matTooltip="Thats the name of this app! Thanks for being here! :) Click on the big icon to start"
                >TRADINGPOST</span
              >!
            </p>
          </div>
        </span>
      </div>
      <div class="gold-header">Roadmap</div>
      <div style="display: flex; flex-direction: row">
        <mat-progress-bar mode="buffer" [value]="20" [bufferValue]="37">
        </mat-progress-bar>
        <span
          style="left: 30%"
          matTooltip="Alpha release"
          matTooltipPosition="above"
          class="release"
          matRipple
          (click)="setRelease(Releases.ALPHA)"
        >
          <mtg-set
            set="lea"
            rarity="rare"
            size="2x"
            style="
              text-shadow: 0 0 4px black;
              align-self: center;
              margin: 0 auto;
            "
          ></mtg-set>
        </span>
        <span
          style="left: 66%"
          matTooltip="Beta release"
          matTooltipPosition="above"
          class="release"
          matRipple
          (click)="setRelease(Releases.BETA)"
        >
          <mtg-set
            set="leb"
            rarity="rare"
            size="2x"
            style="
              text-shadow: 0 0 4px black;
              align-self: center;
              margin: 0 auto;
            "
          ></mtg-set>
        </span>
        <span
          style="left: 85%"
          matTooltip="Release"
          matTooltipPosition="above"
          class="release"
          matRipple
          (click)="setRelease(Releases.RELEASE)"
        >
          <mtg-set
            set="3ed"
            rarity="rare"
            size="2x"
            style="
              text-shadow: 0 0 4px black;
              align-self: center;
              margin: 0 auto;
            "
          ></mtg-set>
        </span>
      </div>
      <div style="display: flex; flex-direction: column">
        <div
          class="text-container"
          style="
            margin-top: 2em;
            transition: height 1s;
            overflow: hidden;
            min-width: 50%;
          "
          [ngStyle]="{
            height: selectedRelease === Releases.NONE ? 0 : '250px'
          }"
        >
          <div style="margin: 1em; color: #ababab; width: 100%">
            <span class="gold-text">{{ selectedRelease }}</span
            ><br />
            <div style="margin: 0.5em">
              <div
                *ngIf="selectedRelease === Releases.ALPHA"
                style="display: flex"
              >
                <div style="width: 50%">
                  <span class="silver-header">Done</span>
                  <ul>
                    <li>Collection management</li>
                    <li>Deck builder</li>
                    <li>Wishlist</li>
                  </ul>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div style="width: 50%">
                  <span class="silver-header">In progress</span>
                  <ul>
                    <li>Order quick link</li>
                    <li>Bug fixing & polishing</li>
                  </ul>
                </div>
              </div>
              <div
                *ngIf="selectedRelease === Releases.BETA"
                style="display: flex"
              >
                <div style="width: 50%">
                  <span class="silver-header">In progress</span>
                  <ul>
                    <li>Card detector</li>
                    <li>Collectors view</li>
                  </ul>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div style="width: 50%">
                  <span class="silver-header">Not started</span>
                  <ul>
                    <li>Accounts</li>
                    <li>Finances</li>
                    <li>Order optimization</li>
                  </ul>
                </div>
              </div>
              <div
                *ngIf="selectedRelease === Releases.RELEASE"
                style="display: flex"
              >
                <div style="width: 50%">
                  <span class="silver-header">Planned</span>
                  <ul>
                    <li>Localization</li>
                    <li>Box opening game</li>
                  </ul>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div style="width: 50%">
                  <span class="silver-header">Goodies</span>
                  <ul>
                    <li>Offline usage</li>
                    <li>Desktop app</li>
                    <li>Mobile</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-icon
          *ngIf="selectedRelease !== Releases.NONE"
          svgIcon="chevron-up"
          style="
            margin: 10px auto;
            color: grey;
            cursor: pointer;
            height: 40px;
            width: 40px;
          "
          (click)="setRelease(Releases.NONE)"
        ></mat-icon>
      </div>
      <div class="gold-header">Features</div>
      <div class="feature-container">
        <div style="width: 33%; display: flex">
          <mat-icon
            svgIcon="incognito-circle"
            style="
              margin: 0 auto;
              width: 60% !important;
              height: 100% !important;
              color: grey;
            "
          ></mat-icon>
        </div>
        <div class="text-container" style="width: 66%">
          <span style="margin: 1em; color: #ababab">
            <span class="gold-text">Accountless use</span><br />
            Are you tired of creating new accounts and giving away your
            information for yet another service? Me too! Thats why you can use
            most of the
            <span
              style="font-family: beleren; color: #a58e4a"
              matTooltip="Thats the name of this app! Thanks for being here! :) Click on the big icon to start"
              >TRADINGPOST</span
            >
            features <b>without an account</b>! Just start the app, choose "Use
            without account" and take the tour on how to handle your data
            yourself! It's easy, I promise!
          </span>
        </div>
      </div>
      <div class="feature-container">
        <div class="text-container" style="width: 66%">
          <span style="margin: 1em; color: #ababab">
            <span class="gold-text">Digitize your collection</span><br />
            What good is it to fantasize about a new deck that you wanna build
            if you don't even know which cards you already own and which ones
            you will need to get?<br />
            <span class="gold-text" style="font-size: 20px"
              >TRADINGPOST Card Detector</span
            ><br />
            Typing in every single card name of houndreds or thousands of cards
            is tiresome, I feel you, I've bin there, trust me. But computers are
            smart, we only need to tell them what we want them to do.<br />
            Sadly, for now, this is in an highly experimental alpha state. It
            will need more developement until it works properly and can be
            presented to a broarder user base.
          </span>
        </div>
        <div style="margin: auto">
          <div
            class="gif-insert"
            style="
              background-image: url('../../assets/gifs/collection_view.gif');
            "
          ></div>
        </div>
      </div>
      <div class="feature-container">
        <div style="margin: auto">
          <div
            class="gif-insert"
            style="background-image: url('../../assets/gifs/deck_view.gif')"
          ></div>
        </div>
        <div class="text-container" style="width: 66%">
          <span style="margin: 1em; color: #ababab">
            <span class="gold-text">Deck planner</span><br />
            No matter if you want to build a new deck or improve an existing one
            this app gives you all the tools you need to keep track of stats
            like curve and distribution while trying to keep it sa simple and
            clear as possible.
          </span>
        </div>
      </div>
      <div class="feature-container">
        <div class="text-container" style="width: 66%">
          <span style="margin: 1em; color: #ababab">
            <span class="gold-text">Create easy buy lists</span><br />
            Missing cards for your complete deck? Or have you been tracking a
            specific cards price for some while? Easily create wishlist and
            monitor card prices with
            <span
              style="font-family: beleren; color: #a58e4a"
              matTooltip="Thats the name of this app! Thanks for being here! :) Click on the big icon to start"
              >TRADINGPOST's</span
            >
            wishlist feature! Create quick buys lists for the common trading
            sites in your area.<br />
          </span>
        </div>
        <div style="margin: auto">
          <div
            class="gif-insert"
            style="
              background-image: url('../../assets/gifs/collection_view.gif');
            "
          ></div>
        </div>
      </div>
      <div
        style="
          background-color: #232323;
          width: 100%;
          height: fit-content;
          position: absolute;
          left: 0;
          box-shadow: inset 0px 20px 20px 0px #0000001f;
          display: flex;
        "
      >
        <p
          style="width: 30%; margin: 2em auto; color: #ababab; font-size: 10px"
        >
          Portions of TRADINGPOST are unofficial Fan Content permitted under the
          Wizards of the Coast Fan Content Policy. The literal and graphical
          information presented on this site about Magic: The Gathering,
          including card images, the mana symbols, and Oracle text, is copyright
          Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. TRADINGPOST is
          not produced by, endorsed by, supported by, or affiliated with Wizards
          of the Coast. <br />
          <br />
          Card prices and promotional offers represent daily estimates and/or
          market values provided by our affiliates. Absolutely no guarantee is
          made for any price information. See stores for final prices and
          details.
        </p>
      </div>
    </div>
  </div>
</div>
