<div>
  <div
    style="
      background-size: cover;
      background-image: url('../../assets/cm2-225-trading-post-crop.jpg');
      position: absolute;
      height: 40%;
      width: 100%;
      z-index: 97;
      transition: height 1s;
    "
    [ngStyle]="{ height: show ? '40%' : '0%' }"
  ></div>
  <div
    style="
      position: absolute;
      top: calc(40% - 200px / 2 - {{ scrolled }}px);
      left: calc(50% - 200px / 2);
      z-index: 99;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;
      box-shadow: 0px 6px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      transition: top 1s;
    "
    [ngStyle]="{
      top: stick ? 0 : show ? 'calc(40% - 200px / 2)' : 'calc(0% - 200px)'
    }"
    (click)="leave()"
  >
    <div style="margin-top: 8px; margin-left: 25px">
      <mtg-set
        set="jud"
        rarity="rare"
        size="12x"
        style="text-shadow: 0 0 4px black"
      ></mtg-set>
    </div>
    <div
      style="display: flex; justify-content: center; margin: -10px 0px 0px 0"
      matTooltip="Keep in mind, that this app is still in an unstable alpha version!"
    >
      <mtg-set
        set="lea"
        rarity="rare"
        size="2x"
        style="text-shadow: 0 0 4px black"
      ></mtg-set>
    </div>
  </div>
  <div
    class="landing-scroll"
    style="
      top: calc( 40% - {{ scrolled }}px);
      height: calc( 100% - 40% + {{ scrolled }}px);
      padding: 5em;
    "
    [ngStyle]="{
      top: show ? '40%' : '100%',
      'box-shadow': show ? '0px -6px 20px 20px rgb(0 0 0 / 35%)' : 'none'
    }"
    (scroll)="handleScroll($event)"
  >
    <div style="height: 1500px; margin-top: {{ scrolled }}px; transition: none">
      <div
        style="
          font-size: 45px;
          color: #a58e4a;
          text-shadow: 0px 0px 5px black;
          padding-top: 6rem;
          padding-bottom: 3rem;
        "
        class="container"
      >
        Welcome, to a new collecting experience!
      </div>
      <div
        style="
          background-color: #232323;
          border-radius: 25px;
          width: calc(100% - 8rem);
          display: flex;
          height: 20%;
        "
      ></div>
    </div>
  </div>
</div>
