/* Hide scrollbar for Chrome, Safari and Opera */
.landing-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.landing-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: absolute;
  width: 100%;
  z-index: 98;
  background-color: #303030;
  transition: top 1s, height 1s;
  overflow-y: auto;
}

.container {
  font-family: beleren, Arial, Helvetica, sans-serif;
}

.shaker {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  2% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  4% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  6% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  8% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  12% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  14% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  16% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  18% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
