<h1 mat-dialog-title>Manage your collection</h1>
<div mat-dialog-content>
  <form [formGroup]="dbGroup">
    <div fxLayout="row">
      <mat-icon svgIcon="database" class="input" color="primary"></mat-icon>
      <mat-form-field class="form-field">
        <ngx-mat-file-input
          formControlName="file"
          placeholder="DB as JSON"
          valuePlaceholder="No file selected"
          [required]="true"
          [accept]="'.json'"
        ></ngx-mat-file-input>
        <mat-icon color="primary" matSuffix>folder</mat-icon>
        <mat-error *ngIf="dbGroup.get('file')?.hasError('required')">
          Please select a file
        </mat-error>
        <mat-error *ngIf="dbGroup.get('file')?.hasError('maxContentSize')">
          The total size must not exceed
          {{
            dbGroup.get("file")?.getError("maxContentSize").maxSize | byteFormat
          }}
          ({{
            dbGroup.get("file")?.getError("maxContentSize").actualSize
              | byteFormat
          }}).
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-icon svgIcon="rename-box" class="input" color="primary"></mat-icon>
      <mat-form-field class="form-field">
        <mat-label>Name of database</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-icon svgIcon="account-star" class="input" color="primary"></mat-icon>
      <mat-form-field class="form-field">
        <mat-label>Owner</mat-label>
        <input matInput formControlName="owner" />
      </mat-form-field>
    </div>
  </form>
</div>
<div style="text-align: center">
  <button
    mat-fab
    color="primary"
    style="margin-right: 10px"
    #tooltip="matTooltip"
    matTooltip="Create new database"
    matTooltipPosition="left"
    (click)="createNew = true"
  >
    <mat-icon svgIcon="database-plus" style="color: #303030"></mat-icon>
  </button>
  <button
    mat-fab
    color="primary"
    [disabled]="
      (!file || file.files?.length === 0 || file.files[0].size === 0) &&
      !hasBeenInitialized
    "
    #tooltip="matTooltip"
    matTooltip="Backup current database"
    matTooltipPosition="right"
    (click)="createBackup()"
  >
    <mat-icon svgIcon="database-refresh" style="color: #303030"></mat-icon>
  </button>
</div>
<div
  style="text-align: center; color: primary; margin-top: 1em"
  [ngStyle]="{ 'margin-bottom': !createNew ? '34px' : '0' }"
>
  <span *ngIf="createNew"
    >New db will be created if confirmed. Be sure to have your current one
    backuped.</span
  >
</div>
<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    [disabled]="!hasBeenInitialized"
    (click)="close()"
  >
    Close
  </button>
  <div style="flex: 1 1 auto"></div>
  <button
    mat-button
    color="primary"
    [disabled]="!inputJSON && !hasBeenInitialized"
    (click)="confirm()"
  >
    Confirm
  </button>
</div>
