<h1 mat-dialog-title>Manage your collection</h1>
<div style="margin: 1rem">
  <mat-radio-group
    aria-label="Select an option"
    *ngIf="isDialog"
    [(ngModel)]="isAdvanced"
    (change)="advancedChanged()"
  >
    <mat-radio-button [value]="false" color="primary">Default</mat-radio-button>
    <mat-radio-button [value]="true" color="primary" style="margin-left: 1rem"
      >Advanced</mat-radio-button
    >
  </mat-radio-group>
</div>
<form [formGroup]="dbGroup">
  <div fxLayout="row">
    <mat-icon svgIcon="account-star" class="input" color="primary"></mat-icon>
    <mat-form-field class="form-field">
      <mat-label>Owner / Visible username</mat-label>
      <input matInput formControlName="owner" />
      <button
        *ngIf="owner"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearOwner()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-icon
      svgIcon="rename-box"
      class="input"
      color="primary"
      [ngStyle]="{ color: isAdvanced ? '' : 'grey' }"
    ></mat-icon>
    <mat-form-field class="form-field">
      <mat-label>Name of database</mat-label>
      <input matInput formControlName="name" />
      <button
        *ngIf="name"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearName()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-icon
      svgIcon="database"
      class="input"
      color="primary"
      [ngStyle]="{ color: isAdvanced ? '' : 'grey' }"
    ></mat-icon>
    <mat-form-field class="form-field">
      <ngx-mat-file-input
        formControlName="file"
        placeholder="DB as JSON"
        valuePlaceholder="No file selected"
        [required]="true"
        [accept]="'.json'"
      ></ngx-mat-file-input>
      <mat-icon
        color="primary"
        [ngStyle]="{ color: isAdvanced ? '' : 'grey' }"
        matSuffix
        style="cursor: pointer"
        >folder</mat-icon
      >
      <mat-error *ngIf="dbGroup.get('file')?.hasError('required')">
        Please select a file
      </mat-error>
      <mat-error *ngIf="dbGroup.get('file')?.hasError('maxContentSize')">
        The total size must not exceed
        {{
          dbGroup.get("file")?.getError("maxContentSize").maxSize | byteFormat
        }}
        ({{
          dbGroup.get("file")?.getError("maxContentSize").actualSize
            | byteFormat
        }}).
      </mat-error>
    </mat-form-field>
  </div>
</form>
<div *ngIf="!isDialog">
  <div
    style="text-align: center; color: primary; margin: 1rem 0"
    [ngStyle]="{ 'margin-bottom': !isCreateNew ? '34px' : '0' }"
  >
    <span *ngIf="isCreateNew"
      >New db will be created if confirmed. Be sure to have your current one
      backuped.</span
    >
  </div>
  <div style="text-align: center">
    <button
      mat-fab
      color="primary"
      style="margin-right: 10px"
      #tooltip="matTooltip"
      matTooltip="Create new database"
      matTooltipPosition="left"
      (click)="createNew()"
      [disabled]="isCreateNew"
    >
      <mat-icon svgIcon="database-plus" style="color: #303030"></mat-icon>
    </button>
    <button
      mat-fab
      color="primary"
      [disabled]="
        (!file || file?.files?.length === 0 || file?.files[0].size === 0) &&
        !hasBeenInitialized
      "
      #tooltip="matTooltip"
      matTooltip="Backup current database"
      matTooltipPosition="right"
      (click)="createBackup()"
      class="backup"
    >
      <mat-icon svgIcon="database-refresh" style="color: #303030"></mat-icon>
    </button>
  </div>
</div>
<div style="display: flex; margin: 1rem 2rem; color: #da3333">
  <mat-icon svgIcon="cookie-alert" style="margin: 1rem; width: 60px"></mat-icon>
  <span>
    Hey, even though we are not using cookies, be careful when clearing your
    data, as we use local storage to save your data when you are not using an
    account! So be sure to backup your data in the settings section before doing
    so!
  </span>
</div>
<div *ngIf="isDialog" style="display: flex">
  <button
    mat-button
    color="primary"
    [disabled]="!hasBeenInitialized"
    (click)="close()"
  >
    Close
  </button>
  <div style="flex: 1 1 auto"></div>
  <button
    mat-button
    color="primary"
    [disabled]="!inputJSON && !hasBeenInitialized"
    (click)="confirm()"
  >
    Confirm
  </button>
</div>
<div *ngIf="!isDialog" style="display: flex">
  <div style="margin: 1rem auto">
    <button
      mat-raised-button
      color="primary"
      style="color: #303030"
      [disabled]="
        !inputJSON || !hasBeenInitialized || !isDirty || !dbGroup.valid
      "
      [disableRipple]="
        !inputJSON || !hasBeenInitialized || !isDirty || !dbGroup.valid
      "
      (click)="confirm()"
    >
      Confirm
    </button>
  </div>
</div>
