<div style="margin: 2%; height: 16%">
  <span fxLayout="row">
    <mtg-mana
      *ngIf="deck!.colors !== Colors.NONE"
      [symbol]="deck!.colors"
      [colorIndicator]="true"
      [size]="'2x'"
      style="padding-top: 4px; padding-right: 8px"
    ></mtg-mana>
    <h1>{{ deck!.name }}</h1>
    <mat-icon style="color: gray; padding-top: 8px" (click)="toggleExpanded()">
      {{ settingsExpanded ? "chevron_right" : "expand_more" }}</mat-icon
    >
    <span *ngIf="settingsExpanded" fxLayout="row">
      <form [formGroup]="settingsGroup">
        <mat-form-field style="padding-left: 10px">
          <mat-select matSelect formControlName="format">
            <mat-option *ngFor="let format of formatArray" [value]="format">{{
              format
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="padding-left: 10px">
          <mat-select matSelect formControlName="colors">
            <mat-option *ngFor="let color of colorsArray" [value]="color">
              <span fxLayout="row"
                ><mtg-mana
                  [symbol]="color"
                  [colorIndicator]="true"
                  style="padding-right: 10px"
                ></mtg-mana
                >{{ color }}</span
              ></mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-checkbox
          matCheckbox
          style="padding-left: 10px"
          formControlName="isActive"
          >Is active</mat-checkbox
        >
      </form>
      <button
        mat-icon-button
        color="warn"
        (click)="removeDeck()"
        style="padding-top: 5px"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
  </span>
</div>
<mtg-cards-list
  [listType]="ListTypes.DECK"
  [deck]="deck"
  style="height: 80%"
></mtg-cards-list>
