<div
  style="margin: 2em 2em 0 2em"
  [ngStyle]="{ height: listFocused ? '14%' : '47%' }"
>
  <span fxLayout="row" style="height: 60px">
    <mtg-mana
      *ngIf="deck!.colors !== Colors.NONE"
      [symbol]="deck!.colors"
      [colorIndicator]="true"
      [size]="'2x'"
      style="padding-top: 4px; padding-right: 8px"
    ></mtg-mana>
    <h1>{{ deck!.name }}</h1>
    <mat-icon style="color: gray; padding-top: 8px" (click)="toggleExpanded()">
      {{ settingsExpanded ? "chevron_right" : "expand_more" }}</mat-icon
    >
    <span *ngIf="settingsExpanded" fxLayout="row">
      <form [formGroup]="settingsGroup">
        <mat-form-field style="padding-left: 10px">
          <mat-select matSelect formControlName="format">
            <mat-option *ngFor="let format of formatArray" [value]="format">{{
              format
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="padding-left: 10px">
          <mat-select matSelect formControlName="colors">
            <mat-option *ngFor="let color of colorsArray" [value]="color">
              <span fxLayout="row"
                ><mtg-mana
                  [symbol]="color"
                  [colorIndicator]="true"
                  style="padding-right: 10px"
                ></mtg-mana
                >{{ color }}</span
              ></mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-checkbox
          color="primary"
          matCheckbox
          style="padding-left: 10px"
          formControlName="isActive"
          >Is active</mat-checkbox
        >
      </form>
      <button
        mat-icon-button
        color="warn"
        (click)="removeDeck()"
        style="padding-top: 5px"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </span>
    <span class="flex"></span>
    <mat-chip-list style="position: absolute; right: 2em">
      <mat-chip
        [disableRipple]="true"
        style="
          background-color: #173b30;
          color: #1baf44;
          border-style: solid;
          border-width: 1px;
        "
        *ngIf="deck!.playable"
        >Playable</mat-chip
      >
      <mat-chip
        [disableRipple]="true"
        style="
          background-color: #392029;
          color: #eb8776;
          border-style: solid;
          border-width: 1px;
        "
        *ngIf="!deck!.playable"
        >Needs fixing</mat-chip
      >
    </mat-chip-list>
  </span>
  <mat-card
    fxLayout="row"
    style="height: calc(100% - 60px); overflow-y: hidden; padding: 0"
  >
    <div class="detail">{{ deck!.cards.length }} / {{ "X" }}</div>
    <div class="detail">Problems (X)</div>
    <div class="detail">
      Curve (123123)
      <apx-chart
        [series]="curveSeries"
        [chart]="curveChart"
        [legend]="curveLegend"
        [dataLabels]="curveLabels"
        [grid]="curveGrid"
        [tooltip]="curveTooltip"
        [xaxis]="curveXaxis"
        [yaxis]="curveYaxis"
      ></apx-chart>
    </div>
    <div class="detail">Distribution (13-10-5 | 10-10)</div>
  </mat-card>
</div>
<div fxLayout="row" style="height: 40px; min-height: 40px">
  <button
    mat-icon-button
    color="primary"
    (click)="listFocused = !listFocused"
    style="margin-left: 2em"
  >
    <mat-icon>{{ !listFocused ? "expand_less" : "expand_more" }}</mat-icon>
  </button>
  <div style="position: absolute; right: 2em">
    <mat-button-toggle-group
      name="listStyle"
      aria-label="List style"
      style="border: none"
    >
      <mat-button-toggle value="list" style="background-color: transparent"
        ><mat-icon color="primary"
          >format_align_justify</mat-icon
        ></mat-button-toggle
      >
      <mat-button-toggle value="detail" style="background-color: transparent"
        ><mat-icon color="primary"> view_module </mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>
<mtg-cards-list
  [listType]="ListTypes.DECK"
  [deck]="deck"
  [ngStyle]="{ height: listFocused ? '83%' : '50%' }"
  (rerender)="rerender()"
></mtg-cards-list>
