<div mat-dialog-content>
  <p>Add how many of {{ name }}?</p>
  <div style="display: flex">
    <div style="margin: 0 auto">
      <button
        mat-icon-button
        color="primary"
        style="margin-right: 10px"
        (click)="decrement()"
        [disabled]="amount <= 1"
      >
        <mat-icon
          color="primary"
          [ngStyle]="{ color: amount <= 1 ? 'grey' : '' }"
        >
          remove
        </mat-icon>
      </button>
      <span style="margin-top: 1rem; margin-bottom: 1rem">{{ amount }}</span>
      <button
        mat-icon-button
        color="primary"
        style="margin-left: 10px"
        (click)="increment()"
      >
        <mat-icon color="primary"> add </mat-icon>
      </button>
    </div>
  </div>
  <div style="display: flex">
    <button
      mat-button
      color="primary"
      (click)="setAmount()"
      style="margin: 0 auto"
    >
      {{ data.listToAddTo ? "Needed amount" : "Available amount" }}
    </button>
  </div>
</div>
<div mat-dialog-actions style="padding: 0">
  <button mat-button color="primary" (click)="close()">Close</button>
  <div style="flex: 1 1 auto"></div>
  <button mat-button color="primary" (click)="confirm()">Confirm</button>
</div>
