@import "../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss";

@font-face {
  font-family: beleren;
  src: local("beleren"), url(./assets/fonts/beleren.ttf) format("truetype");
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mtg-tradingpost-primary: mat-palette($mat-indigo);
$mtg-tradingpost-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mtg-tradingpost-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mtg-tradingpost-theme: mat-light-theme(
  (
    color: (
      primary: $mtg-tradingpost-primary,
      accent: $mtg-tradingpost-accent,
      warn: $mtg-tradingpost-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mtg-tradingpost-theme);

html {
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  height: calc(100% - 30px);
  min-height: calc(100% - 30px);
  background-color: #303030;
  color: white;
}

* {
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  font-family: "Roboto", sans-serif;
}

/* SPACER */
.spacer {
  flex: 1 1 auto;
}

@import "~@angular/material/theming";

$mtg-primary: (
  50: #f9f0e2,
  100: #f0d9b7,
  200: #e6c088,
  300: #dba658,
  400: #d49334,
  500: #cc8010,
  600: #c7780e,
  700: #c06d0c,
  800: #b96309,
  900: #ad5005,
  A100: #ffe7d8,
  A200: #ffc8a5,
  A400: #ffa972,
  A700: #ff9959,
  contrast: (
    A100: #ffe7d8,
    A200: #ffc8a5,
    A400: #ffa972,
    A700: #ff9959,
  ),
);

$primary: mat-palette($mtg-primary);
$accent: mat-palette($mat-light-blue);
$warn: mat-palette($mat-red);

$theme-dark: mat-dark-theme($primary, $accent, $warn);
$theme-light: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme-dark);

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-sort-header-container {
  justify-content: inherit;
}

.fitToImage {
  max-width: unset !important;
  background: transparent;
}

.ms-ci {
  box-shadow: none !important;
}

//red: #f44336
//green: #5eba7d

.primary {
  color: #cc8010;
}

.deactive {
  color: grey;
}

.green {
  //color: #3d684b;
  color: #508e64;
}
.red {
  color: #c6553e;
}
.blue {
  color: #3b6ba0;
}
.black {
  //color: #383431;
  //color: #111117;
  color: #aca29a;
}
.white {
  color: #ffffff;
}
.multi {
  color: #c9b47d;
}
.colorless {
  color: #beb9b2;
}

.tradingpost {
  font-family: beleren;
  color: #a58e4a;
}

// TOUR
ngx-guided-tour {
  .tour-block {
    color: #cc8010 !important;
    background-color: #303030 !important;
    box-shadow: 1px 1px 4px #151515 !important;
    border-radius: 10px;
  }

  .tour-step {
    .tour-buttons {
      .next-button {
        color: #cc8010 !important;
        background-color: #303030 !important;
        font-size: 14px !important;
        line-height: normal !important;
        font-weight: normal !important;
        padding: 1px 10px !important;
        height: 21px !important;
      }
      .back-button {
        color: #cc8010 !important;
        background-color: #303030 !important;
        font-size: 14px !important;
        line-height: normal !important;
        font-weight: normal !important;
        padding: 1px 10px !important;
      }
      .skip-button {
        color: #da3333 !important;
        font-size: 14px !important;
        line-height: normal !important;
        font-weight: normal !important;
        padding: 1px 10px !important;
      }
    }
  }

  .guided-tour-spotlight-overlay {
    border-radius: 10px;
  }
}
