<div style="height: 100%; overflow: hidden">
  <div mat-dialog-content>
    <div style="overflow: hidden">
      <mat-form-field style="width: 100%">
        <input
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          (keyup.enter)="onEnter()"
        />
        <mat-placeholder
          class="placeholder"
          *ngIf="input === undefined || input === ''"
          >Search</mat-placeholder
        >
        <mat-icon
          svgIcon="magnify"
          class="input"
          color="primary"
          matSuffix
        ></mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of autoCompleteCatalogue"
            [value]="option"
            (click)="onSelect(option)"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div fxLayout="row">
        <button
          *ngIf="selectedPrint && selectedPrint.foil"
          mat-icon-button
          [matTooltip]="
            isFoil ? 'Marked as foil. Shiny!' : 'Mark as foil. Shiny!'
          "
          style="position: absolute; z-index: 99; margin-left: 250px"
          (click)="toggleFoil()"
        >
          <mat-icon style="color: #f1ca0f; font-size: 30px; margin-right: 5px">
            {{ isFoil ? "star" : "star_border" }}
          </mat-icon>
        </button>
        <div style="min-width: 300px">
          <div class="dialog-flip-card">
            <div class="dialog-flip-card-inner">
              <div class="dialog-flip-card-front">
                <img
                  src="assets/mtg-cardback.jpg"
                  style="border-radius: 15px"
                />
              </div>
              <div class="dialog-flip-card-back">
                <img
                  [src]="getSelectedPrintPic()"
                  :lazy-src="assets/mtg-cardback.jpg"
                  style="border-radius: 15px; width: 280px"
                />
              </div>
            </div>
          </div>
          <div style="display: flex">
            <span *ngIf="selectedPrint?.prices" style="margin: 0 auto">
              {{ priceOfPrint() }}
            </span>
            <span *ngIf="!selectedPrint?.prices" style="margin: 0 auto">
              No price data available
            </span>
          </div>
        </div>
        <div style="max-height: 400px; width: 70%; overflow-y: auto">
          <div *ngIf="loaded">
            <button
              mat-icon-button
              *ngFor="let print of otherPrints"
              (click)="printSelect(print)"
            >
              <mtg-set
                [set]="print.set"
                [set_name]="print.set_name"
                [rarity]="print.rarity"
                [fixed]="true"
                size="2x"
              ></mtg-set>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex">
      <span style="margin: 0 auto">
        <button
          mat-icon-button
          color="primary"
          style="margin-right: 10px"
          (click)="decrement()"
          [disabled]="amount <= 1"
        >
          <mat-icon
            color="primary"
            [ngStyle]="{ color: amount <= 1 ? 'grey' : '' }"
          >
            remove
          </mat-icon>
        </button>
        <span style="margin-top: 1em; margin-bottom: 1em">{{ amount }}</span>
        <button
          mat-icon-button
          color="primary"
          style="margin-left: 10px"
          (click)="increment()"
        >
          <mat-icon color="primary"> add </mat-icon>
        </button>
      </span>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="close()">Close</button>
    <div style="flex: 1 1 auto"></div>
    <button mat-button color="primary" (click)="addCard()">Add</button>
  </div>
</div>
