<div style="height: 100%">
  <div
    style="
      background-size: cover;
      background-image: url('../../assets/cm2-225-trading-post-crop-crop.jpg');
      font-size: 24px;
      padding: 5px;
    "
  >
    <span
      routerLink="/dashboard"
      fxLayout="row"
      class="to-dashboard"
      style="width: fit-content"
    >
      <mtg-set
        set="jud"
        rarity="rare"
        [fixed]="true"
        size="2x"
        (click)="goto('/dashboard')"
        style="cursor: pointer"
      ></mtg-set>
      <span style="cursor: pointer; margin: 15px 0 15px 0"
        >mtg-tradingpost</span
      >
    </span>
    <span class="spacer"></span>
  </div>

  <mat-sidenav-container class="sidenav-container" style="height: 100%">
    <mat-sidenav
      #leftSidenav
      mode="side"
      opened
      class="sidenav_container"
      (mouseenter)="onSidenavToggle(true)"
      (mouseleave)="onSidenavToggle(false)"
      [@onSideNavChange]="sideNavState ? 'open' : 'close'"
      (click)="goto('decks')"
      [disableClose]="true"
    >
      <div
        fxLayout="column"
        fxLayoutGap="10px"
        style="height: 100%; overflow-x: hidden"
      >
        <mat-nav-list>
          <a
            mat-list-item
            routerLink="/collection"
            routerLinkActive="true"
            (click)="stopPropagation($event)"
            #col="routerLinkActive"
            class="to-collection"
          >
            <mat-icon [ngStyle]="{ color: col.isActive ? '#cc8010' : 'white' }"
              >format_align_justify</mat-icon
            >
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
              >Collection
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/decks"
            routerLinkActive="true"
            (click)="stopPropagation($event)"
            #dck="routerLinkActive"
          >
            <mat-icon [ngStyle]="{ color: dck.isActive ? '#cc8010' : 'white' }"
              >view_carousel</mat-icon
            >
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
              >Decks
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/deck/{{ deck.id }}"
            routerLinkActive="true"
            *ngFor="let deck of decksStore.decks"
            (click)="selectedDeck = deck"
            cdkDropList
            id="{{ deck.id }}"
            cdkDropListConnectedTo="cards"
            (cdkDropListDropped)="dropCardOnDeck($event, deck)"
            #rla="routerLinkActive"
            (click)="stopPropagation($event)"
            (mouseenter)="hoveredDeckId = deck.id"
            (mouseleave)="hoveredDeckId = ''"
          >
            <mat-icon
              [svgIcon]="rla.isActive ? 'window-open' : 'window-closed'"
              [ngStyle]="{
                color: deck.active ? 'white' : 'gray'
              }"
            ></mat-icon>
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
            >
              <mat-form-field>
                <input
                  matInput
                  [value]="deck.name"
                  (input)="onDeckNameChange($event, deck)"
                  (click)="stopPropagation($event)"
                />
              </mat-form-field>
              <button
                *ngIf="deck.id === hoveredDeckId"
                mat-icon-button
                color="warn"
                (click)="removeDeck(deck, $event)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                *ngIf="deck.id !== hoveredDeckId"
                mat-icon-button
                [disabled]="true"
              ></button>
            </span>
          </a>
          <a mat-list-item (click)="addDeck($event)">
            <mat-icon>add_circle</mat-icon>
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
              >Add new deck
            </span>
          </a>
          <a
            mat-list-item
            style="position: absolute; bottom: 110px"
            (click)="stopPropagation($event)"
            [matMenuTriggerFor]="helpMenu"
          >
            <mat-icon [ngStyle]="{ color: set.isActive ? '#cc8010' : 'white' }"
              >help</mat-icon
            >
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
              >Help
            </span>
          </a>
          <a
            mat-list-item
            routerLink="/settings"
            routerLinkActive="true"
            style="position: absolute; bottom: 60px"
            (click)="stopPropagation($event)"
            #set="routerLinkActive"
            class="to-settings"
          >
            <mat-icon [ngStyle]="{ color: set.isActive ? '#cc8010' : 'white' }"
              >settings</mat-icon
            >
            <span
              [@animateText]="linkText ? 'show' : 'hide'"
              class="sidenav-span"
              >Settings
            </span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content
      (mouseenter)="onSidenavToggle(false)"
      style="margin-left: 60px"
    >
      <ng-scrollbar>
        <div class="main_content" class="basic-vh">
          <router-outlet></router-outlet>
        </div>
      </ng-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<mat-menu #helpMenu="matMenu" class="mat-menu-panel-sub">
  <button mat-menu-item (click)="startTour()">
    <mat-icon svgIcon="transit-detour">transit-detour</mat-icon>
    <span>Take the tour again</span>
  </button>
  <button mat-menu-item (click)="openFeedbackDialog()">
    <mat-icon svgIcon="bug">bug</mat-icon>
    <span>Give feedback / Report bug</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="information">information</mat-icon>
    <span>About / Contact</span>
  </button>
</mat-menu>
