span:focus {
  outline: none;
  border: 0;
}

.sidenav-span {
  padding-left: 10px;
}

@media only screen {
  .basic-vh {
    height: 80vh;
  }
}

@media only screen and (min-width: 1025px) {
  .basic-vh {
    height: 85vh;
  }
}

::ng-deep .mat-menu-panel-sub {
  position: absolute;
  top: -166px;
  left: 58px;
}

::ng-deep .noPadding {
  mat-dialog-container {
    padding: 15px 0;
    overflow: hidden;
  }
}
