.mat-focused .placeholder {
  color: transparent;
}

.cdk-drag-preview {
  background: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-column-name {
  flex: 0 0 35% !important;
  width: 35% !important;
}

.mat-column-mana_cost {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-value {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-amount {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.mat-column-actions {
  flex: 0 0 15% !important;
  width: 15% !important;
}

::ng-deep .noPadding {
  mat-dialog-container {
    padding: 24px 0;
    overflow: hidden;
  }
}
